---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="Mi trabajo | René Cerón"
  description="Learn about René Cerón's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Mi trabajo"
        tagline="A continuación, puedes ver mis proyectos más recientes para tener una mejor idea de mi experiencia."
        align="start"
      />
      <Grid variant="offset">
        <PortfolioPreview
          src="../assets/proyectos/regiosgrills.png"
          target="_blank"
          href="https://regiosgrills.com"
          span="regiosgrills"
          alt="regiosgrills"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/javer.png"
          target="_blank"
          href="https://javer.com.mx"
          span="Javer"
          alt="Javer"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/mexico-today.png"
          target="_blank"
          href="https://mexicotoday.com/"
          span="México Today"
          alt="México Today"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/tec.png"
          target="_blank"
          href="https://solicitud.tec.mx/ERx_Forms__Portal_Login"
          span="Tecnológico de Monterrey"
          alt="Tecnológico de Monterrey"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/laveo.png"
          target="_blank"
          href="https://graficos.gruporeforma.com/laveo/"
          span="La veo o no la Veo"
          alt="La veo o no la Veo"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/nbc-nutricion.png"
          target="_blank"
          href="https://nutricionnbc.com/"
          span="NBC Nutrición"
          alt="NBC Nutrición"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/paseo-norte.png"
          target="_blank"
          href="https://gruporeforma.elnorte.com/interactivo/monterrey/paseo_monterrey_verano2019/?md5=3d0b81fcce4a5f117f05e28ce13687ef"
          span="Landing Page"
          alt="Landing Page"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/quintana-roo.png"
          target="_blank"
          href="https://casas-javer.github.io/lnd-quintana-roo/"
          span="Landing Page"
          alt="Landing Page"
          rel="noopener noreferrer nofollow"
        />
        <PortfolioPreview
          src="../assets/proyectos/paseo-sanjunipero.png"
          target="_blank"
          href="https://casas-paseosanjunipero.com/"
          span="Landing Page"
          alt="Landing Page"
          rel="noopener noreferrer nofollow"
        />
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
